@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
	background: linear-gradient(-45deg, #9370DB, #7851A9, #1f497d, #0012b5);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

html {
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main-info
{
    border: 2px solid mintcream;
    background-color: rgba(19, 19, 70, 0.5);
    color: mintcream;
    position: absolute;
    margin: auto;
    overflow: auto;
    padding: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 318px;
    min-height: 480px;
    width: 318px;
    height: 480px;
    text-align: center;
    font-size: 24px;
}
.inner {
    margin: 30% 0 25% 0;
    font-family: 'Lobster', sans-serif;
}
.text-inner{
    margin: 20% 0 20% 0;
    font-family: 'Roboto', sans-serif;
}
.projects-inner{
    font-family: 'Roboto', sans-serif;
}
a {
    color: mintcream;
    text-decoration: none;
}

a:hover{
    color: mintcream;
    text-decoration: underline;
}
a:active{
    color: mintcream;
}

